$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;

@mixin responsive($media) {
    @if $media == desktop {
        @media only screen and (min-width: ($desktop)) { @content; }
    }
    @else if $media == tablet {
        @media only screen and (min-width: ($tablet)) and (max-width: ($desktop - 1px)) { @content; }
    }
    @else if $media == mobile {
        @media only screen and (min-width: ($mobile)) and (max-width: ($tablet - 1px)) { @content; }
    }
}