{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb-base"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-new": 0,
    "no-console": "off",
    "no-debugger": "off",
    "no-alert": "off",
    "no-bitwise": "off",
    "eqeqeq": "off",
    "no-use-before-define": "off",
    "max-len": "off"
    // "no-plusplus": 0
  }
}