{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb-base"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-new": 0,
    "no-console": "off"
    // "no-plusplus": 0
  }
}